<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="container">
  <div class="col-sm-6">
  <div class="jumbotron">
      <h1>Welcome to Il Gustoso</h1>
      <%= link_to "Discover", menu_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
    <div class="col-sm-6 float-right">
      <img src="http://loremflickr.com/480/480/restaurant", height="320", width="320">
    </div>

</body>
</html>



