<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1><span style="color: #FFFFFF">New Food Item</span></h1>

<%= render 'form', food_item: @food_item %>
<%= link_to 'Back', food_items_path, class: 'btn btn-secondary' %>
</body>
</html>