// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
  margin-left: auto;
}

#filter {
  padding-top: 25px;
  padding-bottom: 25px;
}

.jumbotron {
  background-color: rgba(200, 200, 200, 0.9);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.card {
  background-color: rgba(200, 200, 200, 0.8);
  color: rgba(255, 255, 255, 1);

  .views {
    position: absolute; top: 0; right: 0; z-index: 2; padding: 10px;
    font-size: 20px;
  }

  .detail {
    left: 100%;
  }

  .order {
    right: 100%;
  }


}