// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#filter {
  padding-top: 25px;
  padding-bottom: 25px;
}

#n-review {
  background-color: rgba(201, 132, 116, 0.8);
}

#review {
  background-color: rgba(135, 76, 98, 0.8);
}

#c-card {
  text-align: center;
}

.img {
  background-color: rgba(255, 255, 255, 0.8);
}

.jumbotron {
  background-color: rgba(200, 200, 200, 0);
  color: rgba(255, 255, 255, 1);
  text-align: justify;
}

.card {
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(255, 255, 255, 1);

  .views {
    position: absolute; top: 0; right: 0; z-index: 2; padding: 10px;
    font-size: 20px;
  }
}