<div class="card-block">
  <h4 class="card-title"><strong><%= review.reviewer %></strong></h4>
  <div class="card-text"><%= review.comment %></div>
  <% if review.rating %>
    <div class="star-rating" data-score= <%= review.rating %> ></div>
  <% end %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
    
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>